<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg"  alt="mercado liebre" class="logo">
            <p>
            <input type="search" name="busquedapruductos" placeholder="Buscar productos, marcas...">
            <div class="searchlogo">
            <i class="fas fa-search"></i>
            </div>
            </p>
    
        <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjeta de crédito
        </h2>
        </div> 
        
       

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">Crea tu cuenta</a><i class="far fa-id-card"></i></li >
                <li><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>        
            </ul>
        </nav>

        <a href="#" class="burguer-menu">
            <i class="fas fa-bars"></i>
        </a>  
          
        </div>


        
            
     
    </header>
    <div>
        <img src="/images/img-home-banner.jpg"  class="banner">
</div>
    <main class="main-container">
        <section class="products-container">
            <h3>Basado en tu ultima visita</h3>


            <article class="product">
                <img src="images/img-cafetera-moulinex.jpg" width="200" alt="img-cafetera-moulinex">
            <div class= "pro-container">
                <i class="fas fa-truck"></i>
                <h2 class="price">$6.770<h2>
                <span class="discounts">40% off</span>
                <p class="descriptions"> <strong> Cafetera Moulinex </strong></p>
            </div>
            </article>


            <article class="product">
                <img src="images/img-macbook-pro-2019.jpg" width="200" alt="macbook">
            <div class= "pro-container">
                <i class="fas fa-truck"></i>
                <h2 class="price">$230.000</h2>
                <span class="discounts">20% off</span>
                <p class="descriptions"><strong>Macbook Pro 2019</strong></p>
            </div>
            </article>


            <article class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" width="200" alt="Samsung s10">
            <div class= "pro-container">
                <i class="fas fa-truck"></i>
                <h2 class="price">$70.500</h2>
                <span class="discounts">10% off</span>
                <p class="descriptions"><strong>Samsung Galaxy s10</strong></p>
            </div>
            </article>


            <article class="product">
                <img src="images/img-tv-samsung-smart.jpg" width="200" alt="Smart tv">
            <div class= "pro-container">    
                <i class="fas fa-truck"></i>
                <h2 class="price">$23.200</h2>
                <span class="discounts">5% off</span>
                <p class="descriptions"><strong>SmartTv Samsung 43"</strong></p>
            </div>
            </article>


        </section>
        <section class="titles">
            <h2>Ofertas del dia</h2>
            <article class="product">
                <img src="images/img-cafetera-moulinex.jpg" width="200" alt="img-cafetera-moulinex">
            <div class= "pro-container">
                <i class="fas fa-truck"></i>
                <h2 class="price">$6.770</h2>
                <span class="discounts">40% off</span>
                <p class="descriptions"><strong>Cafetera Moulinex</strong></p>
            </div>
            </article>


            <article class="product">
                <img src="images/img-macbook-pro-2019.jpg" width="200" alt="macbook">
            <div class= "pro-container">
                <i class="fas fa-truck"></i>
                <h2 class="price">$230.000</h2>
                <span class="discounts">20% off</span>
                <p class="descriptions"><strong>Macbook Pro 2019</strong></p>
            </div>
            </article>


            <article class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" width="200" alt="Samsung s10">
            <div class= "pro-container">
                <i class="fas fa-truck"></i>
                <h2 class="price">$70.500</h2>
                <span class="discounts">10% off</span>
                <p class="descriptions"><strong>Samsung Galaxy s10</strong></p>
            </div>
            </article>


            <article class="product">
                <img src="images/img-tv-samsung-smart.jpg" width="200" alt="Smart tv">
            <div class= "pro-container">
                <i class="fas fa-truck"></i>
                <h2 class="price">$23.200</h2>
                <span class="discounts">5% off</span>
                <p class="descriptions"><strong>SmartTv Samsung 43"</strong></p>
            </div>
            </article>


        </section>
    </main>
    <footer class= last-part>
        <section>
        <a href="#" class="card">
            <i class="fas fa-credit-card"></i>
        </a>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="texts">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
        <a href="#" class="gift">
                <i class="fas fa-gift"></i>
        </a>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="texts">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
        <a href="#" class="shield">
            <i class="fas fa-user-shield"></i>
        </a>
            <h3>Seguridad, de principio a fin</h3>
            <p class="texts">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p class="texts">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>